<!DOCTYPE html>
<html lang="en" ng-app='turtleFacts'>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Turtle Facts and Quiz</title>

		<link rel="stylesheet" href="assets/css/main.css">

	</head>

	<body>

		<div class="container">
			<div class="page-header">
				<h1>Turtle Facts Quiz </h1>
				<h3>
                Learn about all the turtles below before you decide to take on the 
                <strong>TURTLE QUIZ</strong>
            </h3>

			</div>
			
			<div ng-view></div>
		</div>

		<!-- third party js -->
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-route.min.js"></script>
		<script src="assets/js/jquery-1.11.1.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- Our application scripts -->

		<script src='assets/js/app.js'>
		</script>
		<script src='assets/js/factories/quizmetrics.js'></script>
		<script src='assets/js/factories/dataservice.js'></script>
		<script src='assets/js/controllers/list.js'></script>
		<script src='assets/js/controllers/quiz.js'></script>
		<script src='assets/js/controllers/result.js'></script>

	</body>

</html>